<header class="header">
  <nav>
    <a href="">TopiTopi</a>
    <div>
      <a>About</a>
      <a class="login-btn" href="/login">Login</a>
      <a class="signup-btn" href="/signup">Sign up</a>
    </div>
  </nav>
</header>

<main>
  <div>
    Finding care made easy with TopiTopi
    <li>
      <ul>Get instant access to nearby caregivers</ul>
      <ul>Search, select, connect with ease</ul>
      <ul>Explore and select from a range of services available</ul>
    </li>
  </div>
  <div class="pic">
    <img src="./assets/images/bg.jpg" alt="Kids">
  </div>


</main>

<aside>
  <div class="container">
    <div class="header">
      <h1>
        <span class="highlight">FREE UP TIME</span> FOR WORK, FAMILY, OR FRIENDS
      </h1>
    </div>
    <div class="features">
      <div class="feature-item">
        <img src="./assets/images/search.png" alt="Search" class="icon" />
        <h3>Check the Map</h3>
        <p>
          See all babysitters in your neighbourhood, or set a filter based on your
          preferences.
        </p>
      </div>
      <div class="feature-item">
        <img src="./assets/images/message.png" alt="Chat" class="icon" />
        <h3>Chat with Sitters</h3>
        <p>
          Exchange messages with the babysitters and nannies who look like a good
          fit for you.
        </p>
      </div>
      <div class="feature-item">
        <img src="./assets/images/choose.png" alt="Choose the Best" class="icon" />
        <h3>Choose the Best</h3>
        <p>
          Meet up for an interview to confirm you’ve found the match for your
          children’s needs.
        </p>
      </div>
    </div>
    <div class="cta">
      <button class="cta-button">Sign up for free</button>
    </div>
  </div>

</aside>

<footer></footer>