/* resolutions */
$desktop-min-width: 1280px;
$sidebar-width: 320px;

/* colors */
$primary: #5C2EFC;
$primary-hover: #4221B6;
$container: #F2EFFF;
$on-container: #1A0063;
$error: #BA1A1A;
$green: #2B9355;
$yellow: #FFC72C;
$background: #F3F5F7;

/* Gray Scale */
$grey-1: #333333;
$grey-2: #4F4F4F;
$grey-3: #828282;
$grey-4: #BDBDBD;
$grey-5: #E0E0E0;
$grey-6: #ECEDEE;
$grey-7: #F2F2F2;

/* Text colors */
$text-primary: #242424;
$text-secondary: #828282;
$text-placeholder: #BDBDBD;